Cliente Prueba/src/conf/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_21298/WebService/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://wservice/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://wservice/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://wservice/" schemaLocation="http://localhost:21298/WebService/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="resta">
<part name="parameters" element="tns:resta"/>
</message>
<message name="restaResponse">
<part name="parameters" element="tns:restaResponse"/>
</message>
<message name="producto">
<part name="parameters" element="tns:producto"/>
</message>
<message name="productoResponse">
<part name="parameters" element="tns:productoResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="resta">
<input wsam:Action="http://wservice/WSOperaciones/restaRequest" message="tns:resta"/>
<output wsam:Action="http://wservice/WSOperaciones/restaResponse" message="tns:restaResponse"/>
</operation>
<operation name="producto">
<input wsam:Action="http://wservice/WSOperaciones/productoRequest" message="tns:producto"/>
<output wsam:Action="http://wservice/WSOperaciones/productoResponse" message="tns:productoResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://wservice/WSOperaciones/helloRequest" message="tns:hello"/>
<output wsam:Action="http://wservice/WSOperaciones/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://wservice/WSOperaciones/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://wservice/WSOperaciones/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://wservice/WSOperaciones/divisionRequest" message="tns:division"/>
<output wsam:Action="http://wservice/WSOperaciones/divisionResponse" message="tns:divisionResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="resta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="producto">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:21298/WebService/WSOperaciones"/>
</port>
</service>
</definitions>